<div id="page-content">
<!-- Slider -->
<!-- Homepage Slider -->



<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
        <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                                      <aside class="news-small" id="news-small">
                        
                        <div class="section-content">
                    

                    <article>


                               
                        <ul class="element-framed">
                          <header>
                            <h2>Matriculas Abiertas</h2>
                        </header>

                            <li>Horario de 9:00 a.m. - 2:00 p.m.</li>
                            <li>Hasta el 15 de diciembre de 2016 y a partir del 16 de Enero 2017. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2172427</li>
                            <br>
                            <p>No hay Bono</p>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>
                            <br>

                            <p><%= link_to 'Leer Más', static_pages_contact_path%></p>



                        <h1></h1>

                         <header>
                            <h2>Nivel Superior</h2>
                        </header>
                        <p>Los resultados del ICFES 2.014 fueron excelentes, ocupando los primeros puestos 
                        varios de nuestros estudiantes entre grupos de 1.000. </p>

                        <p>Nuestro estudiante Luis Pablo Lesport ocupó el 8º Puesto a nivel nacional en las Pruebas ICFES 2008.</p>

                        <p><%= link_to 'Leer Más', static_pages_contact_path%></p>

                    

                                                    <h1></h1>


                        <header>
                            <h2>Por un mundo mejor </h2>
                        </header>

                        <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>



                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    



                    
                
                   
                </div><!-- /#sidebar -->
        </div><!-- /.col-md-4 -->

            <div class="col-md-8">
                <section id="main-content">

                    <ul class="element-framed">

                    <header>
                        <h1>Aprobación</h1>
                    </header>
                    <header>
                        <h2> </h2>
                    </header>

                       <p>  En construcción</p>


                        
                        </ul>
                  
               
                </section><!-- /.main-content -->
            </div><!-- /.col-md-6 -->

            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->

 

 
</div>




