<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
</br></br></br></br>
            <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Matriculas</h2>
                        </header>
                        <div class="section-content">
                            <article>
                               
                        <ul class="element-framed">
                            <li>Horario de 9:00 a.m. - 3:00 p.m.</li>
                            <li>Del 5 al 15 de Diciembre de 2013 y del 16 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2128235 - 2172427</li>
                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>No Hay Bono </h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Papeles que se necesitan:</h4>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>
                            
                        </ul>
                               
                               
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->


                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Nuestro PEI</h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>

                            
                        </ul>
                               
                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    
                
                   
                </div><!-- /#sidebar -->
            </div><!-- /.col-md-4 -->
            <!--MAIN Content-->
            <div class="col-md-8">
                <div id="page-main">
                    <section id="about">
                        <header><h1>Historia</h1></header>
                        <h2>Gimnasio Cristiano Shekinah</h2>
                        <p>
                           Fundamentado sobre principios bíblicos y valores cristianos

                           <br></br>

                            Fue fundado en 1.998. Sus fines y objetivos se centran en formar niños y jóvenes que crezcan de acuerdo con estos principios.

                            <br></br>

                            
                        </p>
                        
                        
                        
                        
                        <ul class="element-framed">
                            <h2>“Aprendo, aplico y sobre valores, proyecto el éxito en mi vida y en el entorno donde me encuentre”</h2>
                        </ul>
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->

            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
