<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
</br></br></br></br>
            <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Matriculas</h2>
                        </header>
                        <div class="section-content">
                            <article>
                               
                        <ul class="element-framed">
                            <li>Horario de 9:00 a.m. - 3:00 p.m.</li>
                            <li>Del 5 al 15 de Diciembre de 2013 y del 16 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2128235 - 2172427</li>
                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>No Hay Bono </h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Papeles que se necesitan:</h4>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>
                            
                        </ul>
                               
                               
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->


                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Nuestro PEI</h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>

                            
                        </ul>
                               
                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Noticias</h2>
                        </header>
                        <div class="section-content">
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">U-M School of Public Health, Detroit partners aim to improve air quality in the city</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">At 50, Center for the Education of Women celebrates a wider mission</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">Three U-Michigan scientists receive Sloan fellowships</a></header>
                            </article><!-- /article -->
                        </div><!-- /.section-content -->
                        <a href="" class="read-more">All News</a>
                    </aside><!-- /.news-small -->
                
                   
                </div><!-- /#sidebar -->
            </div><!-- /.col-md-4 -->
            <!--MAIN Content-->
            <div class="col-md-8">
                <div id="page-main">
                    <section id="about">
                        <header><h1>Nuestro PEI</h1></header>
                        <br> </br> <br> </br>
                        <h4>Por un mundo mejor</h4>
                          <ul class="element-framed">

                            <li>TIENE COMO EJE ARTICULADOR: La Palabra de Dios.</li>
                            <li>ENFASIS: Lengua Castellana.</li>
                            <br> </br>

                           	Además del currículo y los estándares que exige el Ministerio de Educación, el Gimnasio Shekinah contiene en su PEI espacios para:
                           	<br> </br>

                            <li>Competencias.</li>
                            <li>Estándares.</li>
                            <li>Autoestima.</li>

                        </ul>
                        <br> </br> 
                         <h4>Ayudas</h4>
                          <ul class="element-framed">

                            <li>Inteligencias Múltiples</li>
                            <li>Temperamentos.</li>
                            <li>Competencias.</li>
                            <li>Estándares.</li>
                            <li>Autoestima.</li>

                        </ul>
                        
                        
                        
                        
                       
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->

            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
