<div id="page-content">
<!-- Slider -->
<!-- Homepage Slider -->



<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
        <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                    <aside class="news-small" id="news-small">
                        
                        <div class="section-content">
                    

                    <article>


                               
                        <ul class="element-framed">
                        <header>
                            <h2>Matriculas</h2>
                        </header>

                            <li>Horario de 9:00 a.m. - 3:00 p.m.</li>
                            <li>Del 5 al 15 de Diciembre de 2013 y del 16 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2128235 - 2172427</li>
                        
                            <header>
                            <h2>No Hay Bono </h2>
                        </header>

                         <h4> Papeles que se necesitan:</h4>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>

                        <header>
                            <h2>Acción Educativa </h2>
                        </header>

                        <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>



                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    



                    
                
                   
                </div><!-- /#sidebar -->
        </div><!-- /.col-md-4 -->

            <div class="col-md-8">
                <section id="main-content">

                    <ul class="element-framed">

                    <header>
                        <h1>Nuestro PEI </h1>
                    </header>
                    <header>
                        <h2>Por un mundo mejor </h2>
                    </header>

                        <li>TIENE COMO EJE ARTICULADOR: La Palabra de Dios.</li>
                        <li>ENFASIS: Lengua Castellana.</li>


                        <p> Además del currículo y los estándares que exige el Ministerio de Educación, el Gimnasio Shekinah contiene en su PEI espacios para: </p> 

                       <li> Competencias.</li>
                        <li>Estándares.</li>
                        <li>Autoestima.</li>

                       
                        </ul>
                  
               
                </section><!-- /.main-content -->
            </div><!-- /.col-md-6 -->

            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->

 

 
</div>




