<div id="page-content">
<!-- Slider -->
<!-- Homepage Slider -->



<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
         <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                                      <aside class="news-small" id="news-small">
                        
                        <div class="section-content">
                    

                    <article>


                               
                        <ul class="element-framed">
                        <header>
                            <h2>Inscripciones Abiertas</h2>
                        </header>

                            <li>Horario de 9:00 a.m. - 2:00 p.m.</li>
                            <li>Del 5 de Octubre al 15 de Diciembre de 2014 y del 16 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2172427</li>

                            <li><%= link_to 'Leer Más', static_pages_contact_path%></li>

                         

                        <h1></h1>
                            <header>
                            <h2>No Hay Bono </h2>
                        </header>

                         <h4> Papeles que se necesitan:</h4>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>

                                                    <h1></h1>


                        <header>
                            <h2>Acción Educativa </h2>
                        </header>

                        <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>



                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    



                    
                
                   
                </div><!-- /#sidebar -->
        </div><!-- /.col-md-4 -->


            <div class="col-md-8">
                <section id="main-content">

                    <ul class="element-framed">

                    <header>
                        <h1>Sección Preescolar</h1>
                    </header>
                    <header>
                        <h2>Grados Transición </h2>
                    </header>

                       <p> Esta científicamente comprobado que la edad pre-escolar, de 0 a 5 años, es la más importante del ser humano. Durante este tiempo se sientan la bases de un 75% de nuestra personalidad. Por ello el Pre-escolar del GIMNASIO CRISTIANO SHEKINAH cuenta con personal especializado, ludoteca, material didáctico y elementos necesarios para estimular y desarrollar las potencialidades de cada niño y las dimensiones que exige el Ministerio de Educación.</p>

                        </ul>
                  
               
                </section><!-- /.main-content -->
            </div><!-- /.col-md-6 -->

            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->

 

 
</div>




