<div id="page-content">
<!-- Slider -->
<div id="slider">
    <div class="container">
        <div class="slider-wrapper">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        
                        <div class="image-carousel">
                            <div class="slide">
                                
                                <div class="col-md-12 col-sm-12">
                                    <div class="image-carousel-slide">
                                      <%= image_tag "slide-2.jpg"%>
                                    </div>
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.slide -->
                            <div class="slide">
                               
                                <div class="col-md-12 col-sm-12">
                                    <div class="image-carousel-slide">                            
                                      <%= image_tag "slide-1.jpg"%>
                                    </div>
                                </div><!-- /.col-md-8 -->
                            </div><!-- /.slide -->
                        </div><!-- /.image-carousel -->
                    </div><!-- /.row -->
                </div><!-- /.col-md-9 -->

                <div class="col-md-3 col-sm-12">
                    <aside class="news-small" id="news-slider">
                        <header>
                            <h2>Matriculas Abiertas</h2>
                        </header>
                        <div class="section-content">
                            <article>
                                <header>
                                   

                                    <a href="#">Carrera 14 A No. 70-32 </a>
                                    <a href="#">Teléfonos 2172018 2128235</a>

                                    <a href="#">Horario de 9:00 a.m. - 3:00 p.m. </a>

                                     <a href="#"> Papeles que se necesitan:   </a>
 
                                            <a>Formulario de Inscripción</a>

                                           <a> Examen de Valoración </a>

                                    <a href="#"></a>
                                </header>
                            </article><!-- /article -->
                            
                            
                        </div><!-- /.section-content -->
                        <a href="#" class="read-more">Leer Mas</a>
                    </aside><!-- /.news-small -->
                </div><!-- /.col-md-3 -->

            </div><!-- /.row -->
        </div><!-- /.slider-wrapper -->
    </div><!-- /.container -->
</div>
<!-- end Slider -->

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="events small" id="events-small">
                    <header>
                        <h2>Actividades</h2>
                        <a href="" class="link-calendar">Calendar</a>
                    </header>
                    <div class="section-content">
                        <article class="event nearest">
                            <figure class="date">
                                <div class="month">jan</div>
                                <div class="day">18</div>
                            </figure>
                            <aside>
                                <header>
                                    <a href="#">Semana Cultural</a>
                                </header>
                                <div class="additional-info">Matthaei Botanical Gardens</div>
                            </aside>
                        </article><!-- /article -->
                        <article class="event nearest-second">
                            <figure class="date">
                                <div class="month">feb</div>
                                <div class="day">01</div>
                            </figure>
                            <aside>
                                <header>
                                    <a href="#">Día de la Familia Shekinah </a>
                                </header>
                                <div class="additional-info clearfix" >Pitt Rivers and Natural History Museums</div>
                            </aside>
                        </article><!-- /article -->
                        <article class="event">
                            <figure class="date">
                                <div class="month">mar</div>
                                <div class="day">23</div>
                            </figure>
                            <aside>
                                <header>
                                    <a href="#"></a>
                                </header>
                                <div class="additional-info">Faculty of Music</div>
                            </aside>
                        </article><!-- /article -->
                    </div><!-- /.section-content -->
                </section><!-- /.events-small -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-6">
                <section id="main-content">
                    <header>
                        <h2>El GIMNASIO CRISTIANO SHEKINAH  </h2>
                    </header>
                    <div class="section-content">
                        <p>Está comprometido con el desarrollo de la inteligencia emocional, tan importante como la intelectual. Cada día se descubre y se investiga más del tema. La Inteligencia Emocional es la capacidad de conocerse a sí mismo y de relacionarse con los demás; inteligencia intrapersonal e interpersonal respectivamente. Serán triunfadores quienes manejen sus emociones. Estas habilidades se deben desarrollar. </p>
                        <h3>Cras at fringilla ligula</h3>

                          
                        <p>
                            Cras iaculis dapibus imperdiet. In sodales mauris nec turpis accumsan, at tincidunt nisi dapibus.
                            Integer sit amet mauris vehicula, porttitor turpis nec, ultrices enim. Curabitur ornare libero vitae
                            fringilla tincidunt. Nunc quis diam egestas, tempor nisl id, semper quam. Suspendisse dui dolor, tempus
                            non semper sed, cursus quis ligula. Curabitur vehicula ligula sed placerat malesuada. Vestibulum auctor
                            interdum nibh. Maecenas dignissim condimentum convallis.
                        </p>
                        <p>
                            Phasellus eget semper dolor. Etiam at laoreet augue. Donec posuere suscipit ipsum, a elementum neque
                            porttitor a. Mauris iaculis fringilla ante auctor ultricies. Proin eget luctus sem, eu ultricies erat.
                            Integer elementum justo eget nisi adipiscing, id luctus sem convallis. Fusce dui lacus, posuere et
                            aliquam sed, vestibulum at urna.
                        </p>
                      

                      

                       
                           

                    </div><!-- /.section-content -->
                </section><!-- /.main-content -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-3">
                <section class="news-small" id="news-small">
                    <header>
                        <h2>News</h2>
                    </header>
                    <div class="section-content">
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <header><a href="#">U-M School of Public Health, Detroit partners aim to improve air quality in the city</a></header>
                        </article><!-- /article -->
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <header><a href="#">At 50, Center for the Education of Women celebrates a wider mission</a></header>
                        </article><!-- /article -->
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <header><a href="#">Three U-Michigan scientists receive Sloan fellowships</a></header>
                        </article><!-- /article -->
                    </div><!-- /.section-content -->
                    <a href="" class="read-more">All News</a>
                </section><!-- /.news-small -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
</div>




