<div id="page-content">
<!-- Slider -->
<!-- Homepage Slider -->



<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
        <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                    <aside class="news-small" id="news-small">
                        
                        <div class="section-content">
                    

                    <article>


                               
                        <ul class="element-framed">
                        <header>
                            <h2>Matriculas</h2>
                        </header>

                            <li>Horario de 9:00 a.m. - 3:00 p.m.</li>
                            <li>Del 5 al 15 de Diciembre de 2013 y del 16 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2128235 - 2172427</li>
                        
                            <header>
                            <h2>No Hay Bono </h2>
                        </header>

                         <h4> Papeles que se necesitan:</h4>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>

                        <header>
                            <h2>Acción Educativa </h2>
                        </header>

                        <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>



                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    



                    
                
                   
                </div><!-- /#sidebar -->
        </div><!-- /.col-md-4 -->

            <div class="col-md-8">
                <section id="main-content">

                    <ul class="element-framed">
                              <header>
                        <h2>El GIMNASIO CRISTIANO SHEKINAH  </h2>
                    </header>

                       <p>Está comprometido con el desarrollo de la inteligencia emocional, tan importante como la intelectual. Cada día se descubre y se investiga más del tema. La Inteligencia Emocional es la capacidad de conocerse a sí mismo y de relacionarse con los demás; inteligencia intrapersonal e interpersonal respectivamente. Serán triunfadores quienes manejen sus emociones. Estas habilidades se deben desarrollar. </p>

                        <h3>Nuestro PEI Contiene los Cuatro Pilares de la educación</h3>
                        <p>
                            Aprender a Conocer.
                        </p>
                        <p>
                            Aprender a Hacer.
                        </p> 
                        <p>
                            Aprender a Convivir Juntos.

                        </p> 
                         <p>
                            Aprender a SER.
                          
                        </p> 
                        </ul>
                  
               
                </section><!-- /.main-content -->
            </div><!-- /.col-md-6 -->

            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->

 

 
</div>




