<div id="page-content">
<!-- Slider -->
<!-- Homepage Slider -->
<section id="homepage-slider">
    <div class="flexslider">
        <ul class="slides">
            <li class="slide">
                <figure>
                    <div class="slide-wrapper">
                        <div class="inner">
                           
                        </div><!-- /.inner -->
                    </div><!-- /.wrapper -->
                </figure>
                <img src="assets/shekinah1.png">
            </li>
            <li class="slide">
                <figure>
                    
                </figure>
                <img src="assets/shekinah2.png">
            </li>
             <li class="slide">
                <figure>
                    
                </figure>
                <img src="assets/shekinah3.png">
            </li>
             <li class="slide">
                <figure>
                    
                </figure>
                <img src="assets/shekinah4.png">
            </li>
        </ul>
    </div>
</section>
<!-- end Homepage Slider -->


<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
        <!--SIDEBAR Content-->
            <div class="col-md-4">
                <div id="page-sidebar" class="sidebar">

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Matriculas</h2>
                        </header>
                        <div class="section-content">
                            <article>
                               
                        <ul class="element-framed">
                            <li>Horario de 9:00 a.m. - 3:00 p.m.</li>
                            <li>Del 5 al 15 de Diciembre de 2013 y del 16 Enero en adelante. </li>
                            <li>Carrera 14 A No. 70-32</li>
                            <li> Teléfonos:  2172018 - 2128235 - 2172427</li>
                        </ul>

                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>No Hay Bono </h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Papeles que se necesitan:</h4>
                            <li>Formulario de Inscripción</li>
                            <li>Examen de Valoración</li>
                            
                        </ul>
                               
                               
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->


                    <aside class="news-small" id="news-small">
                        <header>
                            <h2>Acción Educativa</h2>
                        </header>
                        <div class="section-content">
                            <article>

                        <ul class="element-framed">
                           <h4> Contiene los cuatro pilares de la Educación:</h4>
                            <li>Aprender a Conocer.</li>
                            <li>Aprender a Hacer.</li>
                            <li>Aprender a Convivir juntos.</li>
                            <li>Aprender a SER.</li>

                            
                        </ul>
                               
                                
                            </article><!-- /article -->
                            
                        </div><!-- /.section-content -->
                        
                    </aside><!-- /.news-small -->

                    
                
                   
                </div><!-- /#sidebar -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-6">
                <section id="main-content">
                    <header>
                        <h2>El GIMNASIO CRISTIANO SHEKINAH  </h2>
                    </header>
                    <div class="section-content">
                        <p>Está comprometido con el desarrollo de la inteligencia emocional, tan importante como la intelectual. Cada día se descubre y se investiga más del tema. La Inteligencia Emocional es la capacidad de conocerse a sí mismo y de relacionarse con los demás; inteligencia intrapersonal e interpersonal respectivamente. Serán triunfadores quienes manejen sus emociones. Estas habilidades se deben desarrollar. </p>
                  
                  <h3>Nuestro PEI Contiene los Cuatro Pilares de la educación</h3>
                        <p>
                            Aprender a Conocer.
                        </p>
                        <p>
                            Aprender a Hacer.
                        </p> 
                        <p>
                            Aprender a Convivir Juntos.

                        </p> 
                         <p>
                            Aprender a SER.
                          
                        </p> 
                      

                      

                       
                           

                    </div><!-- /.section-content -->
                </section><!-- /.main-content -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-3">
                <section class="news-small" id="news-small">
                    <header>
                        <h2>Noticias</h2>
                    </header>
                    <div class="section-content">
                        
                        <% @noticia.each do |noticium| %>
                        
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i><%= noticium.created_at.strftime("%d %b. %Y") %></figure>
                            <header><a href="#"><%= noticium.description %></a></header>
                        </article><!-- /article -->
                        <%end%>
                        
                    </div><!-- /.section-content -->
                    <a href="" class="read-more">Todas las Noticias</a>
                </section><!-- /.news-small -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->

 

 
</div>




